let configs = {
  // bot api token
  token: 'api token',
  // username to be whitelisted for bot commands
  whitelist: ['username 1', 'username 2'],
  // random facts that you want to bot to pull from
  facts: ['a for apple',
          'b for boy',
          'c for cat',
          'd for dog',
          'e for elephant',
          'f for frank',
          'g for girl',
          'h for harry',
          'i for india',
          'k for karen',
          'l for larry',
          'm for moe',
          'n for nancy',
          'o for oprah',
          'p for paul'
  ],
  // timer setting for facts interval. enter in minutes you want
  factsTimer: 1,
}


module.exports = configs;